 ; :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}
 ;                                cider/cider-nrepl {:mvn/version "0.23.0"}
 ;                                cider/piggieback {:mvn/version "0.4.2"}}}}
 {
  :aliases
  {:rebel {:main-opts ["-m" "rebel-readline.main"]}}
 :paths ["src" "resources" "target"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.758"}
  ; com.bhauman/figwheel-main {:mvn/version "0.2.5"}
  com.bhauman/figwheel-main {
    :git/url "https://github.com/bhauman/figwheel-main.git"
    :sha "8ebdb9a66e416f2c6b56c3931f74e56dc50c32cb"
  }
  com.bhauman/rebel-readline {:mvn/version "0.1.4"}
  com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
  nrepl/nrepl {:mvn/version "0.7.0"}
  cider/cider-nrepl {:mvn/version "0.25.0-alpha1"}
  cider/piggieback {:mvn/version "0.5.0"}
  }
}
